$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

$spacing-xs: 0.5rem;
$spacing-sm: 1rem;

$rounded: 15px;

:root {
    --clr-dark: #333;
    --clr-dark-2: #222;
    --clr-dark-3: #111;
    --clr-light: #eee;
}
