.filler {
    width: 100%;
    height: 5vh;
    padding: 10px;
    justify-content: center;
    margin-bottom: $spacing-sm;
    color: white;
    margin-top: 10px;
}
fieldset {
    padding: 10px;
    margin: 0 auto;
}
.pure-form {
    padding: 20px;
}